*{
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span {
    word-wrap: break-word;
    white-space: normal;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff3300, #007bff) no-repeat right bottom;
    background-size: 0% 2px;
    transition: background-size 1s;
}

span:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    background-color: rgba(58, 255, 255, 0.326);
}

.headImage img {
    border-radius: 50%;
}

.postLink {
    width: 80%;
    background: rgba(255, 255, 255, 0.374);
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    transition: all 0.5s;
    backdrop-filter: blur(2px);
}

.postLink:hover {
    background: linear-gradient(to right, #ff5fc732, #ca7bfe7a);
    width: 88%;
    transform: scale(1.1);
    font-weight: bold;
}

.riloText {
    background: linear-gradient(to right, #FF7E5F, #FEB47B);
    background-clip: text;
    color: transparent;
}

.gradientText {
    background: linear-gradient(to right, #3ac5d5, #00ccfa);
    background-clip: text;
    color: transparent;
}

h2 {
    font-size: 1.5em;
    background: linear-gradient(to right, #FF6B6B, #FFD26F);
    background-clip: text;
    color: transparent;
}

p{
    text-indent: 2em;
    font-size: 1.2em;
}

span{
    font-size: 1.2em;
}

span::before {
    content: '';
    display: inline-block;
    width: 32px; 
}

span::after {
    content: '';
    display: block;
    margin-bottom: 8px; 
}

.time{
    
    background: linear-gradient(to right, #FF7E5F, #FEB47B);
    background-clip: text;
    color: transparent;
}

b{
    z-index: 9999;
    position: absolute;
    user-select: none;
    font-size: 18px;
    color: #ff63e0;
    pointer-events: none;
}

button{
    background: linear-gradient(to right, #000000, #fda059);
    background-clip: text;
    color: transparent;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
}

button:hover{
    color: #ff63e0;
    font-size: 1.3em;
}
